apiVersion: v1
kind: PersistentVolume
metadata:
  name: "{{ item.pv_name }}"
  labels:
    app: {{ item.pv_name }}
spec:
  capacity:
    storage: "{{ item.pv_size }}"
  accessModes:
    - "{{ item.pv_acess_mode }}"
  storageClassName: "{{ item.pv_name }}"
  mountOptions:
    - nolock
  nfs:
    server: "{{ status.hostIP }}"
    path: "{{ item.pv_path}}"