kind: Ingress
apiVersion: extensions/v1beta1
metadata:
  name: mediawiki
  namespace: mediawiki
spec:
  rules:
    - http:
        paths:
          - path: 
            backend:
              serviceName: mediawiki
              servicePort: 443
